NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-or-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
# https://ogqtthvovwvglllmpgao.supabase.co
# sb_publishable_owOp_HipstdLFWdvQpyggg_TmCLcWoX
# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ncXR0aHZvdnd2Z2xsbG1wZ2FvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzA0Mjg5NiwiZXhwIjoyMTAyNjE4ODk2fQ.HJL8SmhU0_tnMZ6PTR0Lg6z45NlASF4AlvTctoOO1Ek